In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Dataset/Book3.xlsx')
df.head()

,Month,Outlet.Code,Actual.Freezer.Capacity,Potential.Freezer.Capacity,Variance.Capacity,FCV,DII,DII STANDARD
0,2023-01-01,B001,2.365933,1.40868,0.957253,0.014000,12.000000,16.0
1,2023-02-01,B001,1.855530,1.40868,0.446850,0.009800,11.000000,16.0
2,2023-03-01,B001,2.671546,1.40868,1.262866,0.003100,15.000000,16.0
3,2023-04-01,B001,2.117779,1.40868,0.709099,0.003900,12.000000,16.0
4,2023-05-01,B001,2.254381,1.40868,0.845701,0.017524,10.229888,16.0

In [3]:
df.shape

(8578, 8)

In [4]:
df.dtypes

Month                         datetime64[ns]
Outlet.Code                           object
Actual.Freezer.Capacity              float64
Potential.Freezer.Capacity           float64
Variance.Capacity                    float64
FCV                                  float64
DII                                  float64
DII STANDARD                         float64
dtype: object

In [5]:
df['Month'].value_counts()

2024-01-01    616
2023-01-01    615
2023-12-01    615
2023-02-01    614
2023-03-01    613
2023-04-01    613
2023-05-01    613
2023-06-01    612
2023-11-01    612
2023-07-01    611
2023-08-01    611
2023-09-01    611
2023-10-01    611
2024-02-01    611
Name: Month, dtype: int64

In [6]:
df[df['DII STANDARD'].isnull()]

,Month,Outlet.Code,Actual.Freezer.Capacity,Potential.Freezer.Capacity,Variance.Capacity,FCV,DII,DII STANDARD
152,2023-07-01,B012,1.949133,0.000000,1.949133,0.002513,10.076532,NaN
153,2023-08-01,B012,1.748604,0.000000,1.748604,0.002585,10.529257,NaN
154,2023-09-01,B012,1.568459,0.000000,1.568459,0.003023,10.442183,NaN
155,2023-10-01,B012,1.907291,3.545600,-1.638309,0.010487,13.083209,NaN
156,2023-11-01,B012,1.332042,3.545600,-2.213558,0.009728,14.945366,NaN
...,...,...,...,...,...,...,...,...
7155,2023-11-01,R338-old,1.829701,0.000000,0.000000,NaN,NaN,NaN
7903,2023-12-01,R397,12.100161,0.000000,0.000000,0.018962,52.962815,NaN
7904,2024-01-01,R397,9.864860,7.961422,1.903438,0.004056,41.062479,NaN
7905,2024-02-01,R397,6.520055,7.961422,-1.441367,0.005937,36.566252,NaN
8577,2024-02-01,c080,4.211452,10.829301,-6.617849,NaN,NaN,NaN

In [7]:
df['DII STANDARD'] = df['DII STANDARD'].fillna(0)

In [8]:
df['DII'] = df['DII'].replace(np.nan, 0)

In [9]:
df['FCV'] = df['FCV'].replace(np.nan, 0)

In [10]:
df.isnull().sum().sum()

0

In [11]:
df['DII'] = df['DII'].astype('int64')
df['DII STANDARD'] = df['DII STANDARD'].astype('int64')

In [12]:
df.head()

,Month,Outlet.Code,Actual.Freezer.Capacity,Potential.Freezer.Capacity,Variance.Capacity,FCV,DII,DII STANDARD
0,2023-01-01,B001,2.365933,1.40868,0.957253,0.014000,12,16
1,2023-02-01,B001,1.855530,1.40868,0.446850,0.009800,11,16
2,2023-03-01,B001,2.671546,1.40868,1.262866,0.003100,15,16
3,2023-04-01,B001,2.117779,1.40868,0.709099,0.003900,12,16
4,2023-05-01,B001,2.254381,1.40868,0.845701,0.017524,10,16

In [13]:
df.tail()

,Month,Outlet.Code,Actual.Freezer.Capacity,Potential.Freezer.Capacity,Variance.Capacity,FCV,DII,DII STANDARD
8573,2023-11-01,S048,1.206770,3.073589,-1.866819,0.018100,54,16
8574,2023-12-01,S048,1.140021,3.073589,-1.933569,0.018111,32,16
8575,2024-01-01,S048,0.790404,3.073589,-2.283186,0.015330,32,16
8576,2024-02-01,S048,0.755451,3.073589,-2.318138,0.011832,31,16
8577,2024-02-01,c080,4.211452,10.829301,-6.617849,0.000000,0,0

In [14]:
df[df['DII STANDARD'].isnull()]

Empty DataFrame
Columns: [Month, Outlet.Code, Actual.Freezer.Capacity, Potential.Freezer.Capacity, Variance.Capacity, FCV, DII, DII STANDARD]
Index: []

In [15]:
df.to_csv('Dataset_Bersih/data_dii_baru_ver11.csv', header = True, index = False)