In [1]:
import pandas as pd

In [2]:
df_cashUC = pd.read_csv('Dataset/data_4_monthly/5_persiapan monthly track - cashUC2023.csv')
df_employee = pd.read_csv('Dataset/data_4_monthly/6_persiapan monthly track - employee2023.csv')
df_sales = pd.read_csv('Dataset/data_4_monthly/7_persiapan monthly track - Sales2023.csv')
df_transaction = pd.read_csv('Dataset/data_4_monthly/8_persiapan monthly track - Transaction2023.csv')

In [7]:
df_cashUC.fillna(0, inplace = True)
df_employee.fillna(0, inplace = True)
df_sales.fillna(0, inplace = True)
df_transaction.fillna(0,inplace = True)

In [13]:
month_mapping = {
    'Jan': 1,
    'Feb': 2,
    'Mar': 3,
    'Apr': 4,
    'May': 5,
    'Jun': 6,
    'Jul': 7,
    'Aug': 8,
    'Sep': 9,
    'Oct': 10,
    'Nov': 11,
    'Dec': 12,
}

def transform_row_Cash_UC(row):
    store_code = row['store_code']
    month_values = {month_mapping[month]: value for month, value in row.items() if month != 'store_code'}
    transformed_rows = [{'Year': '2023', 'Store_code': store_code, 'Month': month, 'Cash_UC': value} for month, value in month_values.items()]
    return transformed_rows

def transform_row_Employee(row):
    store_code = row['store_code']
    month_values = {month_mapping[month]: value for month, value in row.items() if month != 'store_code'}
    transformed_rows = [{'Year': '2023', 'Store_code': store_code, 'Month': month, 'Employee': value} for month, value in month_values.items()]
    return transformed_rows

def transform_row_Sales(row):
    store_code = row['store_code']
    month_values = {month_mapping[month]: value for month, value in row.items() if month != 'store_code'}
    transformed_rows = [{'Year': '2023', 'Store_code': store_code, 'Month': month, 'net_sales': value} for month, value in month_values.items()]
    return transformed_rows

def transform_row_transaction(row):
    store_code = row['store_code']
    month_values = {month_mapping[month]: value for month, value in row.items() if month != 'store_code'}
    transformed_rows = [{'Year': '2023', 'Store_code': store_code, 'Month': month, 'transaction': value} for month, value in month_values.items()]
    return transformed_rows

In [15]:
df_transformed_cash_uc = pd.DataFrame(sum(df_cashUC.apply(transform_row_Cash_UC, axis=1), []))
df_transform_employee = pd.DataFrame(sum(df_employee.apply(transform_row_Employee, axis=1), []))
df_transform_sales = pd.DataFrame(sum(df_sales.apply(transform_row_Sales, axis=1), []))
df_transform_transaction = pd.DataFrame(sum(df_transaction.apply(transform_row_transaction, axis = 1), []))

In [16]:
new_df_final = pd.merge(df_transformed_cash_uc, df_transform_employee)
new_df_final2 = pd.merge(new_df_final, df_transform_sales)
new_df_final3 = pd.merge(new_df_final2, df_transform_transaction)
new_df_final3.head()

   Year Store_code  Month      Cash_UC  Employee      net_sales transaction
0  2023       B001      1   37,273,918     36.52  1,034,926,967       4,489
1  2023       B001      2   16,598,375     40.55  1,000,446,165       4,430
2  2023       B001      3   39,612,502     36.28  1,003,625,950       4,425
3  2023       B001      4  103,081,919     33.96    985,537,794       4,238
4  2023       B001      5  156,599,338     34.00  1,204,251,784       5,097

In [18]:
new_df_final3['Year'] = new_df_final3['Year'].astype('int64')

In [19]:
if all(col in new_df_final3.columns for col in ['Year', 'Month']):
    new_df_final3['periode'] = pd.to_datetime(new_df_final3[['Year', 'Month']].assign(day=1))
else:
    print("Error: Columns 'Year' and 'Month' are not present in the DataFrame.")
    
new_df_final3.head()

,Year,Store_code,Month,Cash_UC,Employee,net_sales,transaction,periode
0,2023,B001,1,"37,273,918",36.52,"1,034,926,967","4,489",2023-01-01
1,2023,B001,2,"16,598,375",40.55,"1,000,446,165","4,430",2023-02-01
2,2023,B001,3,"39,612,502",36.28,"1,003,625,950","4,425",2023-03-01
3,2023,B001,4,"103,081,919",33.96,"985,537,794","4,238",2023-04-01
4,2023,B001,5,"156,599,338",34.00,"1,204,251,784","5,097",2023-05-01

In [20]:
new_df_final3.to_csv('Dataset/data_4_monthly/Hasil_Bersih/monthly_tracking_2023_ver6.csv', header = True, index = False)

In [21]:
monthly_track_2022 = pd.read_csv("Dataset/data_4_monthly/Hasil_Bersih/monthly_tracking_2022_ver3.csv")
monthly_track_2023 = pd.read_csv("Dataset/data_4_monthly/Hasil_Bersih/monthly_tracking_2023_ver6.csv")

In [26]:
full_file = pd.concat([monthly_track_2022, monthly_track_2023], ignore_index=True)
print("full shape =", full_file.shape)

full shape = (15216, 8)

In [28]:
full_file['periode'] = full_file['periode'].astype('datetime64[ns]')

In [29]:
full_file[full_file.isna().any(axis=1)]

Empty DataFrame
Columns: [Year, Store_code, Month, Cash_UC, Employee, net_sales, transaction, periode]
Index: []

In [30]:
full_file.to_csv("Dataset/data_4_monthly/Hasil_Bersih/monthly_tracking_full_file_ver6.csv", 
                 header = True, index = False)